<ng-container *ngIf="users$ | async as users">
  <div>
    <input
      type="text"
      placeholder="Search..."
      [(ngModel)]="filters.q"
      (ngModelChange)="onSearch()"
    />
  </div>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
        <th>Full Name</th>
        <th>Gender</th>
        <th>Birth Date</th>
        <th>Age</th>
        <th>Phone Number</th>
        <th>City</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users.data">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.birthDate | date: 'dd-MM-YYYY' }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.city }}</td>
        <td>{{ user.country }}</td>
      </tr>
    </tbody>
  </table>

  <app-pagination
    *ngIf="users.pagination"
    [options]="users.pagination"
    (paginate)="onPaginate($event)"
  ></app-pagination>

</ng-container>
